In [10]:
import pandas as pd
#ルートコード
place01 = "oita"
place02 = "china"
#配分
dis01 = 2
dis02 = 3
#ショベル台数
excavator = 1
#ワーフ車合計
car = 4
#何台中何台目か？
first = 2
#周回数
S = 2-1
#ルートコード＊配分で回数
N01 = [place01] * dis01
N02 = [place02] * dis02
#リスト化とショベル1台時の逆リスト
list01 = N01+N02
list02 = N02+N01
#インデックスは台数
index01 = ["1","2","3","4","5"]
#一周目と二周目のリストを合わせて辞書化
dict01 = dict(Row1=list01,Row3=list02)
#データフレーム化
print(car)
print(first)
print(first+car*S)
pd.DataFrame(data=dict01, index=index01)

4
2
6

    Row1   Row3
1   oita  china
2   oita  china
3  china  china
4  china   oita
5  china   oita